<template name="layout">
	<div class="container">

		<!-- Here is the standard Bootstrap code for a Navigation bar taken directly from getbootstrap.com/components -->
		<nav class="navbar navbar-inverse" >
		  <div class="container-fluid">
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      	<ul class="nav navbar-nav">
							<li><a class="navbar-brand" href="{{pathFor 'home'}}">Revisiting Myths</a></li>
							<li><a href="{{pathFor 'contact'}}">Contact Us</a></li>
							<li><a href="{{pathFor 'write'}}">Write</a></li>
							<li><a href="{{pathFor 'read'}}">Read</a></li>
						</ul>
						 	<div class="login">{{> loginButtons}}</div>
		    </div><!-- /.navbar-collapse -->

		  </div><!-- /.container-fluid -->
		</nav>

		<!-- Here is where the actual content of the page gets inserted by the router! -->
		{{> yield}}
	</div>

</template>
